html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow: auto;
}

main {
  position: relative;
  width: 100%;
  height: 200vh;
  display: unset;
  z-index: 523;
}

table,
th,
tr,
td {
  border: solid 1px black;
  text-align: center;
}

.hometl {
  width: 30%;
  flex-direction: column;

}

.quotetl {
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#mainheadbrow button {
  margin-left: 10px;
  margin-right: 10px;
}

.hometl h1 {
  font-size: 61px;
  color: #212529;
  width: 100%;
  text-align: left;
  line-height: 59px;
  font-weight: 500;
  margin-bottom: 5px;
}

.quotetr {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frow {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-bottom: 7px;

}

.form {
  height: auto;
  padding: 20px;
  width: 80%;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 0px 3px 0px rgb(173, 173, 173);
}

.frow input::placeholder,
.frow textarea::placeholder {
  color: #7c7c7c;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.frow input:focus {
  border: solid 1px rgb(0, 0, 0);
}

.form p {
  text-align: left;
  padding: 0;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
}

.frow input,
.frow textarea {
  width: 50%;
  font-size: 13px;
  resize: none;
  transition-duration: 0.5s;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px rgb(193, 193, 193);
  outline: none;

}

.quotetl h1 {
  font-size: 64px;
  color: #212529;
  text-wrap: pretty;
  line-height: 59px;
  font-weight: 500;
  margin-bottom: 5px;
}

.quotetl p {
  font-size: 17px;

}

.primary {
  background-color: #1871f7;
  padding: 7px 14px;
  color: white;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
  transition-duration: 0.15s
}

.primary:hover {
  background-color: #5297ff;
}

.secondary {
  background-color: white;
  padding: 6px 12px;
  color: #1871f7;
  font-weight: 500;
  outline: none;
  border: solid 1.5px #1871f7;
  border-radius: 5px;
  transition-duration: 0.15s;
}

.secondary:hover {
  background-color: #e8f1ff;
}

.hometl p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.homeinfo {
  width: 80%;
  margin-top: 30vh;
  background-color: transparent;
  padding: 30px;
  border-radius: 50px;
  align-items: flex-start;
}

.aboutm {
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.post {
  display: flex;
  flex-direction: column;
  background-color: #c4dcffa3;
  width: 400px;
  backdrop-filter: blur(10px);
  margin-left: 20px;
  margin-right: 20px;
  border-radius:7px;
  margin-bottom: 20px;
  transition-duration: 0.2s;
}

.post h1 {
  width: 95% !important;
  font-size: 40px !important;
  margin: 10px !important;
  margin-top:8px !important;
  line-height:38px !important;
  margin-bottom: 3px !important;
  text-wrap:wrap !important;
}

.post hr {
  border-top-color: black;
  width: 95%;
  border-bottom: none
}
#content {
  padding:20px;
  backdrop-filter: blur(10px);
  border-radius:10px;
  background-color: #d5e6ff7d;
}
#content img {
  border-radius:4px;
}
.post:hover {
  scale: 1.05;
}

.post img {
  height: 30vh;
  border-radius:7px;
  width: 100%;
  object-fit: cover;
}
.blogc {
  width:80%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.aboutm h1 {
  font-size: 71px;
  color: #212529;
  text-wrap: pretty;
  line-height: 59px;
}
.blogm {
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.blogm h1 {
  font-size: 71px;
  color: #212529;
  text-wrap: pretty;
  line-height: 59px;
}
.blogm h3 {
  text-align: center;
}

.homem {
  width: 100%;
  padding-top: 30vh;
}

.homem h1 {
  margin-bottom: 3px;
}

.homem h3 {
  margin-top: 3px;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 4vh;

}

.aboutm img {
  width: 90%;
  border-radius: 15px;
}

.aboutm p {
  font-size: 22px;
  text-align: center;
  text-align: balance;
}

.homeinfoc {
  height: auto;
  width: 100%;
  margin-bottom: 20vh;
}

.ffull {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}

.footer {
  width: 100%;
  background-color: #d6e7ffc8;
  backdrop-filter: blur(10px);
  display: flex;
  margin-top: 15vh;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fc1 h1 {
  margin-bottom: 2px;
  line-height: 35px;
  font-size: 35px;

}

.fc1 p {
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
  color: rgb(73, 73, 73);
}

.fc1 h2 {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 300;
}

.fc1 {
  display: flex;
  width: 30%;
  margin-right: 10%;
  flex-direction: column;
}

.fc2 {
  display: flex;
  margin-top: 30px;
  width: 20%;
  flex-direction: column;
}

.fc2 h2 {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 2px;
}

.fc2 p {
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.homebot {
  margin-top: 10vh;
  flex-direction: column;
  margin-bottom: 10vh;
}

.homebot h1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 2px;
}

.homebot p {
  font-size: 20px;
  width: 50%;
  text-wrap: balance;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.homebot h1 span {
  color: #1871f7;

}

#fl {
  transform: scaleX(-1);
}

#servicesabout {
  display: flex;
  margin-bottom: 10vh;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: center;
}

#servicesabout h1 {
  font-size: 50px;
}

#servicesabout h1 span {
  color: #1871f7;
}

.hometr {
  width: 30%;
}

.inforow {
  flex-direction: row;
  width: 100%;
  align-items: flex-start !important;
  justify-content: center;

}

.infol h1,
.infol p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.infol h1 {
  line-height: 42px;
  font-size: 42px;
  font-weight: 600;
}

.infol h1 span {
  color: #1871f7;
  font-weight: 700;
}

.infol img {
  height: 60vh;
  width: 80%;
  margin-bottom: 10px;
  object-fit: cover;
}

.infol p {
  font-size: 22px;
  font-weight: 200;
}

.infol {
  display: flex;
  width: 47%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: balance;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bglayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#bglayer img {
  width: 100%;
  object-fit: cover;
  z-index: 4;
  pointer-events: none;

}

#navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5vh;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 70%;
  background-color: #d6e7ffc5;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  z-index: 828;
}

#navlinks {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;

}

#navlinks p {
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 600;
}

#navbar h1 {
  margin-top: 0;
  color: black;
  font-size: 23px;
  font-weight: 800;
  margin-left: 15px;
  margin-bottom: 0;
}